# Compilados Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Configuração local e segredos
*.env
.streamlit/secrets.toml
config.toml

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db
